<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thanh toán với PayPal</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=ARpU1vaZPNaUF6iKGuDcfjH6cMseEPtZvX6RRRAJKkwqb0L9tBOUpvV_ZYb0W2jTW0w7c99onsNJWXp2&currency=USD"></script>
  </head>
  <body>
    <h1>Thanh toán với PayPal</h1>

    <!-- Nút PayPal -->
    <div id="paypal-button-container"></div>

    <script>
      let abc = [];
      paypal
        .Buttons({
          // Tạo đơn hàng khi người dùng nhấn nút
          createOrder: async (data, actions) => {
            const response = await axios.post(
              "http://localhost:4000/order/create-order",
              {
                order: [
                  {
                    merchantId: 41,
                    variants: [
                      {
                        productVariantId: 3728,
                        quantity: 1,
                      },
                      {
                        productVariantId: 3726,
                        quantity: 1,
                      },
                    ],
                    note: "",
                  },
                ],
              }
            );
            console.log("order", response.data);
            abc = response.data.orderInfo.referenceListIds
            console.log("abc", abc);
            return response.data.orderInfo.id; // Trả về orderId để thực hiện thanh toán
          },
          onShippingChange: async (data, actions) => {
            console.log("Data", data);
            const newShippingAddress = data.shipping_address;
            console.log("Địa chỉ giao hàng mới:", newShippingAddress);

            // Gửi địa chỉ mới tới server của bạn để cập nhật chi phí vận chuyển hoặc tổng giá trị đơn hàng
            try {
              const res = await axios.post(
                "http://localhost:4000/order/update-new-order",
                {
                  listReferenceIds: ["cb59b0d2-de11-4ddc-94b5-c57610f89dce"],
                  paymentOrderId: data.orderID,
                  shippingInfo: {
                    country: "US",
                    zipCode: "95131",
                    province: "CA",
                    city: "San Jose",
                  },
                  order: [
                    {
                      merchantId: 41,
                      variants: [
                        {
                          productVariantId: 3728,
                          quantity: 1,
                        },
                        {
                          productVariantId: 3726,
                          quantity: 1,
                        },
                      ],
                      note: "",
                    },
                  ],
                }
              );

              console.log("res - order", res.data);
            } catch (error) {
              console.log(
                "Lỗi khi cập nhật địa chỉ giao hàng và số tiền",
                error
              );
            }

            //     // // Nhận lại giá trị mới sau khi tính toán lại chi phí
            //     // const updatedAmount = res.data.updatedAmount;
            //     // console.log("Cập nhật giá trị đơn hàng mới:", updatedAmount);

            //     // Cập nhật giá trị đơn hàng mới trên PayPal
            //     return actions.order.patch([
            //       {
            //         op: "replace",
            //         path: "/purchase_units/@reference_id=='default'/amount",
            //         value: {
            //           currency_code: "USD",
            //           value: 200,
            //           breakdown: {
            //             item_total: {
            //               currency_code: "USD",
            //               value: 100,
            //             },
            //             shipping: {
            //               currency_code: "USD",
            //               value: 9,
            //             },
            //           },
            //         },
            //       },
            //     ]);
            //   } catch (error) {
            //     console.log("Lỗi khi cập nhật địa chỉ giao hàng và số tiền", error);
            //     return actions.reject();
            //   }

            //   return actions.resolve();
          },
          // Xác nhận thanh toán sau khi người dùng đồng ý
          onApprove: async (data, actions) => {
            console.log("data", data);
            console.log("actions", actions);
            try {
              const res = await axios.post(
                "http://localhost:4000/order/capture",
                {
                  paymentOrderId: data.orderID,
                }
              );
              console.log("Thanh toán thanh cong", res.data);
            } catch (error) {
              console.log("Lỗi khi thanh toán", error);
            }
          },
          // Xử lý lỗi
          onError: (err) => {
            alert("Đã xảy ra lỗi trong quá trình thanh toán.");
            console.error(err);
          },
        })
        .render("#paypal-button-container"); // Hiển thị nút PayPal trong div đã chỉ định
    </script>
  </body>
</html>
